* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: lightcoral;
}

.left-sidebar {
    height: 100%;
    width: 200px;
    background-color: lightgreen;
}

.right-sidebar {
    height: 100%;
    width: 150px;
    background-color: lightcyan;
}

.content {
    height: 100%;
    width: calc(100% - 200px - 150px);
    overflow-y: auto;
    background-color: lightseagreen;
}

.box {
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
    background-color: red;
}

nav {
    height: 60px;
    background-color: orange;
}